<div>
  <h3>{{ playlist.name }}</h3>

<div class="well">
  <form class="form-horizontal">
    <fieldset>
      <legend>Add Song to Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Song Name</label>
        <div class="col-xs-10">
          <!-- <input ng-model="song" required class="form-control" type="text"> -->
          <select ng-options='song as song.name for song in allSongs track by song.genre' ng-model='selected'></select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button ng-disabled="!selected" type="submit" class="btn btn-success" ng-click="addSong(playlist.id)">Add Song</button>
        </div>      
    </fieldset>
  </form>
</div>  


  <table class='table' ng-show="playlist.songs.length">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Artists</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in playlist.songs" ng-class="{active: song === getCurrentSong() }">
        <td>
          <button class="btn btn-default btn-xs" ng-click="toggle(song)">
            <span class="glyphicon" ng-class="{ 'glyphicon-pause': isPlaying(song), 'glyphicon-play': !isPlaying(song) }"></span>
          </button>
        </td>
        <td>{{ song.name }}</td>
        <td><span ng-repeat="artist in song.artists">{{ artist.name }}{{ $last ? '' : ', ' }}</span></td>
        <td>{{ song.genres.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
  <small ng-hide="playlist.songs.length">No songs.</small>
  <hr>
</div>